<!DOCTYPE html>
<html>
<head>
    <title>趋势查询</title>
    <link href="../static/css/style.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="App Loction Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements" ./>
    <script>
        $.ajax({
                cache: true,
                type: "POST",
                url:"/search",
                data:$('#searchform').serialize(),
                async: false,
                error: function(request) {
                    alert("Connection error");
                },
                success: function(data) {
                }
            });
    </script>
</head>
<body>
<h1></h1>
<div class="app-location">
    <h2>Inroad API 趋势查询</h2>
    <div class="line"><span></span></div>
    <div class="location"><img src="../static/images/inroad.PNG" class="img-responsive" alt=""/></div>
    <form name="searchfrom" id="searchform" method="post" action="/search">
            <input type="text" name="begintime" value="开始批次" onFocus="javascript:if(this.value=='开始批次')this.value='';" onBlur="if (this.value == '') {this.value = '开始批次';}">
            <input type="text" name="endtime" value="结束批次" onFocus="javascript:if(this.value=='结束批次')this.value='';" onBlur="if (this.value == '') {this.value = '结束批次';}">
            <input type="text" name="apiname" value="API名字" onFocus="javascript:if(this.value=='API名字')this.value='';" onBlur="if (this.value == '') {this.value = 'API名字';}">
            <input type="submit" value="查询">
    </form>
</div>
</body>
</html>